.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.main {
  height: 100vh;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 1.179rem;
  justify-content: space-between;
  max-width: 1440px;
}

.menu {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.left-section {
  display: flex;
  margin-left: 8.1rem;
  padding-top: 1.179rem;
  flex-direction: column;
  justify-content: space-between;
}
.menu-item {
  color: white;
  margin-bottom: 0.1rem;
  text-align: left;
  font-family: "Helvetica-Neue";
  font-weight: bold;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.menu-item:hover {
  color: #ffc004;
}

#contact {
  background-color: transparent;
  outline: none;
  color: white;
  font-family: "Helvetica-Neue";
  font-weight: bold;
  font-size: 1.3rem;
  border: 1px solid white;
  padding: 0.3rem 1.8rem 0.4rem 1.8rem;
}

.page {
  color: white;
  font-family: "Helvetica-Neue";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
  line-height: 1;
  max-width: 1440px;
}

.page h1 {
  font-size: 5.25rem;
  width: 38.25rem;
  margin-top: 5rem;
}

#content {
  font-size: 1.1rem;
  width: 22.5rem;
  height: 14.188rem;
  margin: 7rem 7rem 4.313rem 0rem;
  line-height: 1.8rem;
  text-align: left;
  text-size-adjust: auto;
}

footer {
  background-color: white;
  width: 140vh;
  height: 6.5%;
  padding: 4.625rem 8.5rem 4.563rem 4.813rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
}

#footer-content {
  width: 19rem;
  height: 1.25rem;
  margin: 0.063rem 0;
  /*padding: 0rem 8.5rem 4.563rem 4.813rem; */
  font-weight: bold;
}

footer h1 {
  width: 80vh;
  margin: 0 13.75rem 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.63px;
}

#footer-icon {
  padding-left: 1rem;
  color: #ffc004;
  font-size: 1.2rem;
}

.focused {
  color: #ffc004;
}
